
-- Adicionando colunas de afiliados à tabela profiles
ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS referred_by UUID REFERENCES profiles(id),
ADD COLUMN IF NOT EXISTS balance DECIMAL(10, 2) DEFAULT 0.0,
ADD COLUMN IF NOT EXISTS pix_key TEXT,
ADD COLUMN IF NOT EXISTS pix_key_type TEXT;

-- Tabela para histórico de comissões
CREATE TABLE IF NOT EXISTS affiliate_commissions (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    referrer_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
    referred_user_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
    amount DECIMAL(10, 2) NOT NULL,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'processing', 'paid', 'failed')),
    asaas_transfer_id TEXT, -- ID da transferência no Asaas
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Políticas de RLS para affiliate_commissions
ALTER TABLE affiliate_commissions ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
own
commissions\ 
ON affiliate_commissions FOR SELECT 
USING (auth.uid() = referrer_id);

